@keyframes rotateScale {
  0% {
    -webkit-transform: scale(2) rotateZ(0);
    transform: scale(2) rotateZ(0); }
  50% {
    -webkit-transform: scale(4) rotateZ(180deg);
    transform: scale(4) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(2) rotateZ(360deg);
    transform: scale(2) rotateZ(360deg); } }

@keyframes background-grow {
  0% {
    width: 0; }
  33% {
    width: 35%; }
  66% {
    width: 10%; }
  100% {
    width: 35%;
    opacity: 0.7; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Titillium Web", sans-serif;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.toggle {
  display: none; }

.btn {
  padding: 1rem 2rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  background-color: transparent;
  opacity: .6;
  font-size: 2rem;
  text-transform: capitalize; }
  .btn-header {
    background-color: #ea9085;
    border: none;
    opacity: 1;
    color: #f7f7f7;
    outline: 3px solid #ea9085;
    outline-offset: 4px;
    font-weight: 600; }
    .btn-header:active {
      transform: translate(-2px); }
    .btn-header:hover {
      background-color: #f7f7f7;
      color: #ea9085;
      outline: 3px solid #f7f7f7;
      outline-offset: 5px;
      box-shadow: none; }

.card {
  background-image: linear-gradient(130deg, rgba(163, 93, 255, 0.2) 50%, rgba(126, 49, 237, 0.5) 90%);
  margin: 0 auto;
  position: relative; }
  .card__description {
    padding-right: .5rem;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    display: none;
    width: 0; }
  .card:hover .card__description {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    letter-spacing: .1rem;
    background: linear-gradient(130deg, rgba(126, 49, 237, 0.5), rgba(163, 93, 255, 0.5));
    height: 100%;
    width: 100%;
    color: #f7f7f7;
    -webkit-clip-path: circle(60% at 100% 50%);
    clip-path: circle(60% at 100% 50%); }
  .card__description--head {
    text-align: end;
    font-size: 1rem;
    color: #f7f7f7;
    position: relative; }
    .card__description--head::after {
      display: block;
      content: "";
      background-color: #b681a2;
      border-radius: 1rem;
      height: 2rem;
      width: .8rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -5;
      transform: translateX(0.3rem);
      transition: all .3s ease-in;
      animation: background-grow 1s;
      animation-fill-mode: forwards; }
  .card__description--text {
    text-align: end; }
    .card__description--text span {
      display: flex;
      flex-direction: column;
      align-content: flex-end; }
  .card > img {
    width: 80vw; }

.nav {
  position: fixed;
  z-index: 100;
  background-color: transparent;
  width: 100%; }
  .nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.4rem; }
  .nav__img {
    height: 5rem;
    width: 4.3rem; }
  .nav__icon {
    font-size: 3rem;
    color: #7E31ED; }

.portfolio__grid {
  display: grid;
  margin: 2rem auto;
  grid-template-columns: 100%;
  grid-gap: 2rem; }

.header {
  width: 100%;
  height: 100vh;
  background: #e9e2d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #7E31ED; }
  .header > * {
    justify-self: center;
    align-self: center; }

.heading-1 {
  font-size: 4.2rem;
  opacity: 1;
  text-shadow: 0 2px 0 #f7f7f7; }

.heading-2 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 50px; }

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 4px;
  color: #4f323b; }
