$color-primary:#7E31ED;
$color-primary-light:#af78fc;

$color-secondary : #233142;
$color-secondary-light : #3f5b7c;

$color-tertiary-1: #5fcc89;
$color-tertiary-2: #ff5959;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d1d1d1;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$default-font-size: 1.6rem;
$main-font: 'Titillium Web', sans-serif;


// MEDIA QUERY MANAGER

/* 
0 - 600PX:  PHONE
600 - 900PX TABLET POTRAIT
900-1200    TABLET LANDSCAPE
1200-1800   NOTEBOOK/DESKTOPS
1800++      BIG DESKTOP
*/

// media queries order : BASE + TYPOGRAPHY > GENERAL LAYOUT + GRID > PAGE LAYOUT > COMPONENTS

// 1em == 16px;

@mixin respond($break-point){
    @if $break-point == phone{
        @media only screen and (min-width: 37.5em){@content};   //600px
    } 
    @if $break-point == tab-port{
        @media only screen and(min-width: 56.25em){@content};    //900px
    }
    @if $break-point == tab-land{
        @media only screen and(min-width: 75em){@content};   //1200px
    }  
    @if $break-point == big-desktop{
        @media only screen and(min-width: 112.5em){@content};   //1800++
    }
  
}