$color-primary: #7E31ED;
$color-primary-light:#a35dff;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d1d1d1;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$default-font-size: 1.6rem;
$main-font: 'Titillium Web', sans-serif;
