.footer{
    height: 20vh;
    font-size: 2rem;
    border-top: 5px solid $color-tertiary-2;
    background-color: $color-secondary;
    color: $color-grey-light-1;

    display: flex;
    justify-content: space-evenly;     

    &__connection{
        display: flex;
        flex-direction: column;
        align-self: center;
        & p{
            font-size: 1.2rem;
            margin: 0 auto;
            @include respond(phone){
                font-size: 1.5rem;
            }
            @include respond(tab-port){
                font-size: 2rem;
            }
        }
        & .social{
            font-size: 2rem;
            @include respond(phone){
                font-size: 3rem;
            }
            @include respond(tab-port){
                font-size: 3.3rem;
            }
        }
    }
    &__copy{
        align-self: center;
        text-align: center;        
        font-size: 1.4rem;
    }
}