.header{
    width: 100%;
    height: 100vh;    
    background: $color-tertiary-1; 
    //linear-gradient(to right, rgba($color-secondary-light, .5), rgba($color-secondary-dark, .5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: $color-primary;
   
    &>*{
        justify-self: center;
        align-self: center;
    }
}
.heading-1{
    font-size: 3.2rem;
    opacity: 1;
    text-shadow: 0 2px 0 $color-grey-light-1;    
}
.heading-2{
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 50px;
    text-align: center;
}
.heading-3{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 4px;
    color: $color-secondary-dark; 
}