.certificate-box{
    padding-top: 5vh;   
    text-align: center;
    height: 80vh;
    position: relative;
    background-image: linear-gradient(rgba($color-tertiary-1, .8), rgba($color-tertiary-2, .9)), url("/resources/sam-erwin-474207-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

   &__heading{
        color: $color-primary;
        text-transform: uppercase;
        font-size: 2.5rem;
        padding-bottom: 2rem;
   }
}

.certificates-list{
    height: 100%;
    width: 100%;
    margin: auto auto;

    &>div{
        transition: all .6s;
        padding-top: 1rem;
        @include respond(tab-port){        
          padding: 1rem;
      }
    }

    & img{
        width: 100%;
        min-width: 290px;
        max-width: 540px;
        height: auto;
        overflow: auto;
  
    }
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 3.5%;
    width: 2rem;
    margin-top: -22px;
    color: $color-primary;
    font-weight: bold;
    font-size: 4rem;
    transition: 0.6s ease;
    border-radius: .3rem;
    user-select: none;
    text-decoration: none;
    
    @include respond(phone){        
      bottom: 40%;
  }
  }
  .prev{
    left: 30%;
    @include respond(phone){        
      left: 5%;
  }
  }
  .next {
    right: 30%;
    @include respond(phone){        
      right: 5%;
  }
    
  }
  .prev:hover, .next:hover{
    color: $color-primary-light;
  }
  .prev:active, .next:active{
    transform: scale(.5);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }