.certificate-box{
    padding-top: 2vh;   
    text-align: center;
    height: 80vh;
    position: relative;
    
   &__heading{
        color: $color-grey-light-2;
        text-transform: uppercase;
        font-size: 2.4rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
        font-weight: 800;
   }
}

.certificates-list{
    height: 100%;
    width: 100%;
    margin: auto auto;

    &>div{
        transition: all .6s;
        padding-top: 1rem;
        @include respond(tab-port){        
          padding: 1rem;
      }
    }

    & img{
        width: 100%;
        min-width: 290px;
        max-width: 540px;
        height: auto;
        overflow: auto;
        box-shadow: 0px 0px 10px 15px rgba($color-secondary, .8);
  
    }
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 3.5%;
    width: 2rem;
    margin-top: -22px;
    color: $color-tertiary-2;
    font-weight: bold;
    font-size: 4rem;
    transition: 0.6s ease;
    border-radius: .3rem;
    user-select: none;
    text-decoration: none;
    
    @include respond(phone){        
      bottom: 40%;
  }
  }
  .prev{
    left: 30%;
    @include respond(phone){        
      left: 5%;
  }
  }
  .next {
    right: 30%;
    @include respond(phone){        
      right: 5%;
  }
    
  }
  .prev:hover, .next:hover{
    color: $color-tertiary-1;
    transform: scale(1.15);
  }
  .prev:active, .next:active{
    transform: scale(.5);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }