.nav{
    position: fixed;
    z-index: 100;
    background-color: transparent;
    width: 100%;

    &-left{
        display: flex; 
        justify-content: space-between; 
        align-items: center;
       // border-bottom: 1px solid;   
        padding-right: 1.4rem;  
    }
    &__img{
        height: 5rem;
        width: 4.3rem;
    }
    &__icon{
        font-size: 3rem;
        color: $color-primary;
    }
}