.nav{
    position: fixed;
    z-index: 100;
    background-color: transparent;
    width: 100%;

    &-left{
        display: flex; 
        justify-content: space-between; 
        align-items: center;
       // border-bottom: 1px solid;   
        padding: 1rem 1.4rem;  
    }
    &__img{
        height: 5rem;
        width: 4.3rem;
    }
    &__icon{
        font-size: 3rem;
        color: $color-primary;
    }
    &-right{
        font-size: 2rem;
        font-weight: 600;
        width: 130px;
        border-radius: 5px;
        float: right;
       text-align: center;
       align-self: auto;
      
        &>ul>li{
            list-style: none; 
            border: 2px solid $color-primary;
            margin: 1rem 0;
            background-color: rgba($color-tertiary-1, .6);      

            &>a{
            color: $color-primary;
            text-decoration: none; 
            padding: 2px 5px;                  
            }
        }

    }
}