.nav{
    position: absolute;
    z-index: 100;
    background-image: linear-gradient(to right, rgba(transparent , 0.1), rgba(transparent , 0.4));
    width: 100%;

    &-left{
        display: flex; 
        justify-content: space-between; 
        align-items: center;
       // border-bottom: 1px solid;   
        padding-right: 1.4rem;  
    }
    &__img{
        height: 5rem;
        width: 4.3rem;
    }
    &__icon{
        font-size: 3rem;
        color: $color-grey-light-1;
    }
}